
VITE_SOCKET_URL="ws://localhost:8080"
VITE_BACKEND_URL="http://localhost:8000/api/v1"
VITE_GOOGLE_CONSOLE="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=XXXXX-XXXXXX.apps.googleusercontent.com&redirect_uri=http://localhost:8000/api/v1/users/auth/google/callback&scope=profile email"
VITE_GOOGLE_CONSOLE="http://localhost:8000/api/v1/users/google"
