PORT=8000
NODE_ENV="development"
CORS_ORIGIN=http://localhost:5173
ACCESS_TOKEN_SECRET="XXXXXXX"
ACCESS_TOKEN_EXPIRY="XXXXX"
REFRESH_TOKEN_SECRET="XXXXXXXXXXX"
REFRESH_TOKEN_EXPIRY="XXXXX"
CLOUDINARY_CLOUD_NAME="XXXXXX"
CLOUDINARY_API_KEY="XXXXXXXX"
CLOUDINARY_API_SECRET="XXXXXXX"
GOOGLE_CLIENT_ID="XXXXXXXXXXX"
GOOGLE_CLIENT_SECRET="XXXXXXXX"
GOOGLE_CALLBACK_URL="http://localhost:8000/api/v1/users/auth/google/callback"
REDIS_URL=redis://localhost:6379
AUTH_SUCCESS="http://localhost:5173"
MONGODB_URL="mongodb://localhost:YOURPORT"
